// Import Pacifico font
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

// Body
$body-bg: #FEFBE9;

// Typography
$font-family-sans-serif: 'Pacifico', cursive; // Updated font
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #DCAF92;
$secondary: #805580;
$success: #4080C0;


